.nav {
  height: 64px;
  line-height: 64px;
  background-color: white;
}

.el-col {
  min-height: 1px;
}

a {
  text-decoration: none;
  color: #2c3e50;
}

.title {
  font-size: 20px;
  padding: 0 8px;

  & span {
    position: relative;
    padding: 4px 0;

    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fc2f70;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }

    &::before {
      top: 0;
      transform-origin: right;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    &::after {
      bottom: 0;
      transform-origin: left;
    }

    &:hover::after {
      transform-origin: right;
      transform: scaleX(1);
    }
  }
}

.nav-title {
  padding: 0 8px;
}

.nav-menu {
  text-align: right;
  padding: 0 16px;

  &-item {
    padding: 8px 16px;
    border-radius: 4px;

    &:hover {
      background-color: #f7f7f7;
    }
  }
}

.nav-drawer-toggle {
  text-align: center;

  &-button {
    font-size: 20px;
    border: none;
  }
}

.nav-drawer {
  z-index: 1000;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: -12px;
}
